@model SectionViewModel

@{
    ViewData["Title"] = "EditSection";
}


<h2>Edit Section</h2>
<form asp-action="EditSection" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" asp-for="Title" />
    </div>
    <div class="form-group">
        <label for="link">Link</label>
        <input type="text" id="link" class="form-control" asp-for="Link" />
    </div>
    <div class="form-group">
        <label for="num">Number</label>
        <input type="number" id="num" class="form-control" asp-for="Num" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-controller="Instructor" asp-action="ManageCourse" class="btn btn-secondary">Back to Course</a>
</form>


