@model CourseViewModel

@{
    ViewData["Title"] = "New Course";
    @using OnlineCoursesApp.DAL.Models
}

<h2>New Course</h2>
<form asp-action="SaveNewCourse" asp-controller="Instructor" method="post">
    <input type="hidden" asp-for="TechId" value="@ViewBag.InstructorId" />

    <div class="form-group">
        <label for="name">Course Name</label>
        <input type="text" id="name" class="form-control" asp-for="Name" required />
    </div>

    <div class="form-group">
        <label for="type">Type</label>
        <select asp-for="CourseType" asp-items="Html.GetEnumSelectList<CourseType>()"></select>

    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" asp-for="Description" required />
    </div>

    <div class="form-group">
        <label for="image">Image</label>
        <input type="text" id="image" class="form-control" asp-for="Image" required />
    </div>

    <button type="submit" class="btn btn-primary">Save Course</button>
</form>
