 @model SectionViewModel

@{
    ViewData["Title"] = "New Section";
}

<h2>New Section</h2>

<form asp-action="SaveNewSection" asp-controller="Instructor" method="post">
    <input type="hidden" asp-for="CourseId" value="@ViewBag.CourseId" /> 

    <div class="form-group">
        <label for="title">Section Title</label>
        <input type="text" id="title" class="form-control" asp-for="Title" required />
    </div>

    <div class="form-group">
        <label for="link">Section Link</label>
        <input type="text" id="link" class="form-control" asp-for="Link" required />
    </div>

    <div class="form-group">
        <label for="number">Section Number</label>
        <input type="number" id="number" class="form-control" asp-for="Number" required />
    </div>


    <button type="submit" class="btn btn-primary">Save Section</button>
</form>
