.vs/
OnlineCoursesApp/.vs/OnlineCoursesApp/DesignTimeBuild/.dtbcache.v2
OnlineCoursesApp/.vs/OnlineCoursesApp/v17/.futdcache.v2
OnlineCoursesApp/.vs/OnlineCoursesApp/v17/.suo
OnlineCoursesApp/.vs/OnlineCoursesApp/v17/DocumentLayout.json
OnlineCoursesApp/.vs/ProjectEvaluation/onlinecoursesapp.metadata.v7.bin
OnlineCoursesApp/.vs/ProjectEvaluation/onlinecoursesapp.projects.v7.bin
OnlineCoursesApp/OnlineCoursesApp.BLL/bin/Debug/net8.0/OnlineCoursesApp.BLL.deps.json
OnlineCoursesApp/OnlineCoursesApp.BLL/bin/Debug/net8.0/OnlineCoursesApp.BLL.dll
OnlineCoursesApp/OnlineCoursesApp.BLL/bin/Debug/net8.0/OnlineCoursesApp.BLL.pdb
OnlineCoursesApp/OnlineCoursesApp.BLL/bin/Debug/net8.0/OnlineCoursesApp.DAL.dll
OnlineCoursesApp/OnlineCoursesApp.BLL/bin/Debug/net8.0/OnlineCoursesApp.DAL.pdb
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.AssemblyInfo.cs
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.AssemblyInfoInputs.cache
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.GeneratedMSBuildEditorConfig.editorconfig
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.assets.cache
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.csproj.AssemblyReference.cache
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.csproj.CoreCompileInputs.cache
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.csproj.FileListAbsolute.txt
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.dll
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.pdb
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/OnlineCoursesApp.BLL.sourcelink.json
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/ref/OnlineCoursesApp.BLL.dll
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/Debug/net8.0/refint/OnlineCoursesApp.BLL.dll
OnlineCoursesApp/OnlineCoursesApp.BLL/obj/OnlineCoursesApp.BLL.csproj.nuget.dgspec.json