/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navbar Styling */
.navbar {
    background-color: #2c3e50;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .navbar ul {
        list-style: none;
        display: flex;
        gap: 20px;
        align-items: flex-end;
    }

    .navbar a {
        color: #ecf0f1;
        text-decoration: none;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

        .navbar a:hover {
            color: aqua;
        }

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-img {
    height: 100px; /* Adjust the logo height as needed */
    width: auto; /* Maintain aspect ratio */
}

.profile {
    display: flex;
    align-items: end;
}

.profile-img-nav {
    height: 40px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: make the image circular */
    object-fit: cover; /* Ensures the image covers the space neatly */
}

.profile-img {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin-right: 10px;
}

.username {
    color: #ecf0f1;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Main Section */
.main {
    padding: 20px;
    text-align: center;
}

    .main h1 {
        margin-bottom: 10px;
    }

/* Cards Section */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
    align-items: start;
}

.HomeCard-link {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Ensure the link inherits the color of the HomeCard */
}

.HomeCard {
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
    color: black;
}

    .HomeCard:hover {
        transform: translateY(-7px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        background-color: #bac6d4;
    }

    .HomeCard h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .HomeCard p {
        font-size: 16px;
        color: #555;
        margin-bottom: 15px;
    }


.enroll-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    float: inline-end;
}

    .enroll-button:hover {
        background-color: #45a049;
    }

.enrolled-button {
    background-color: #95a5a6;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    float: right;
}


.card {
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    color: black;
}

    .card:hover {
        transform: translateY(-7px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        background-color: #bac6d4;
    }

    .card h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .card p {
        font-size: 16px;
        color: #555;
    }

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

    .search-container input {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: box-shadow 0.3s ease, border-color 0.3s ease;
    }

        .search-container input:focus {
            outline: none;
            border-color: #3498db; /* Change border color on focus */
            box-shadow: 0 0 8px rgba(52, 152, 219, 0.5); /* Blue shadow */
        }
/* Footer */
/* footer {
    background-color: #696262;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    height: 60px;

  }*/
footer {
    background-color: #898181;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    height: 60px;
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
}


.footer-content p {
    margin: 0;
    font-size: 14px;
    color: white;
}

/* .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
  } */

/* profile page */
.profile-body {
    font-family: Arial, sans-serif;
    /* background-image: url(../plufow-le-studio-aE8Mx8-vQss-unsplash.jpg); */
    background-color: #e0dddd;
    background-size: cover;
}

.profile-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    margin: 0 0 5px;
    font-size: 26px;
}

p {
    margin: 0 0 10px;
    color: #555;
}

.score {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .score .title {
        background-color: #2c3e50;
        color: white;
        padding: 10px;
        border-radius: 20px 0 0 20px;
        flex: 1;
        text-align: center;
    }

    .score .value {
        background-color: #3498db;
        color: white;
        padding: 10px;
        border-radius: 0 20px 20px 0;
        flex: 1;
        text-align: center;
    }

.profile-form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
    }

    .input-group input,
    .input-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .input-group textarea {
        height: 80px;
    }


/* my courses page */



/*.course-cotainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}*/

.badge {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #28a745;
    border-radius: 3px;
    margin-left: 10px;
}

.completed-badge {
    background-color: #4CAF50; /* Green for completed */
}




.progress-container {
    width: 80%; /* Now the progress bar will be 80% of the card width */
    background-color: #e0e0e0; /* Light gray background for the progress bar */
    border-radius: 5px; /* Rounded corners */
    height: 10px; /* Height of the progress bar */
    margin-top: 10px; /* Spacing above the progress bar */
}

.progress-bar {
    height: 100%; /* Full height of the container */
    background-color: green; /* Progress bar color */
    border-radius: 5px; /* Rounded corners for the progress bar */
    transition: width 0.3s ease; /* Smooth transition as progress changes */
}

.badge-done {
    background-color: green;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
}

.card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Profilebutton {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Top/bottom and left/right padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline block for better alignment */
    font-size: 16px; /* Increase font size */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transition for hover effects */
}

    .Profilebutton:hover {
        background-color: #45a049; /* Darker green on hover */
        transform: scale(1.05); /* Slightly increase size on hover */
    }

    .Profilebutton:active {
        background-color: #3e8e41; /* Even darker green when active */
        transform: scale(0.98); /* Slightly decrease size when clicked */
    }
.profile-logout {
    display: flex;
    align-items: center;
}

.loging {
    margin-right: 40px;
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1.2rem; 
    transition: color 0.3s ease; 
}

    .loging:hover {
        color: aqua; 
    }


.a_tag {
    margin-right: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.profile-img-nav {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.username {
    color: #ecf0f1; 
    font-size: 1.1rem;
    font-weight: bold;
}