@model List<ManageCoursesViewModel>
@{
    ViewData["Title"] = "ManageCourses";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid my-4">
    <div class="row">
        <!-- manage courses table -->
        <!-- manage courses table -->
        <div class="card mb-4">
            <div class="card-header  text-white d-flex justify-content-between align-items-center" style="background-color :#ed9c00 !important;">
                <h4 style="color:aliceblue !important;">Manage Courses</h4>
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="filterType"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Filter: Type
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filterType">
                        <li><a class="dropdown-item" href="#">Type 1</a></li>
                        <li><a class="dropdown-item" href="#">Type 2</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="table-warning">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Student Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (ManageCoursesViewModel course in @Model)
                            {
                                <tr>
                                    <td>@course.CourseId</td>
                                    <td>@course.Name</td>
                                    <td>@course.Type</td>
                                    <td>@course.StudentNumber</td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-sm">Details</a>
                                        <a href="#" class="btn btn-success  btn-sm">approve</a>
                                        <a href="#" class="btn btn-danger btn-sm">Reject</a>
                                    </td>
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
