
@{
    ViewData["Title"] = "ManageInstructors";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid my-4">
    <div class="row">
        <!-- manage instructors table -->
       
        <div class="card mb-4">
            <div class="card-header bg-warning text-white">
                <h4>Manage Instructors</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="table-warning">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Instructor 1</td>
                            <td>
                                <a href="#" class="btn btn-success btn-sm">Details</a>
                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


